<html>
    <body>
        <h1>Welcome to the <a href="http://www.indextank.com">Indextank</a> demo</h1>
        <p>This is the same Poll application you built in the Django's tutorial, with searching features over Indextank engine.</p>
        <p>To try it</p>
        <ul>
            <li>Run <strong>python manage.py syncdb</strong> to create databases</li>
            <li>Add some polls to your database. Go to <a href="admin">Django's admin</a> or hit <a href="/polls/create_polls">this</a> script</li>
            <li>Go to the <a href="/polls">polls' home page</a> and search you poll</li>
            <li>Check polls/models.py and polls/views.py#search(request) to see how to integrate indextank with your application</li>
        </ul>
    </body>
</html>
