<html>
    <body>
        <h1>Welcome to the <a href="http://www.indextank.com">Indextank</a> demo</h1>
        <p>This is a simple django guestbook application with searching features using Indextank engine.</p>
        <p>To try it</p>
        <ul>
            <li>Run <strong>python manage.py syncdb</strong> to create database and tables</li>
            <li>Add some entries to your guestbook. Go to <a href="/guestbook">Guestbook home</a> anb fill the form or hit <a href="/guestbook/create_entries">this</a> script</li>
            <li>Go to the <a href="/guestbook">Guestbook home</a> and search your entry</li>
            <li>Check guestbook/views.py to see how to integrate indextank with your application in seconds</li>
        </ul>
    </body>
</html>
